<h3>Your Cart</h3>

<!-- <div class="cart" *ngFor="let item of cart.items">
  <span>{{ item.name }} </span>
  <span>{{ item.price | currency }}</span>
</div> -->

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">

  <div>
    <label for="first-name">
      First Name
    </label>
    <input id="first-name" type="text" formControlName="firstName">
  </div>

  <div>
    <label for="last-name">
      Last Name
    </label>
    <input id="last-name" type="text" formControlName="lastName">
  </div>

  <div>
    <label for="address">
      Address
    </label>
    <input id="address" type="text" formControlName="address">
  </div>

  <div>
    <label for="city">
      City
    </label>
    <input id="city" type="text" formControlName="city">
  </div>

  <div>
    <label for="state">
      State
    </label>
    <input id="state" type="text" formControlName="state">
  </div>

  <div>
    <label for="zip">
      Zip Code
    </label>
    <input id="zip" type="text" formControlName="zip">
  </div>

  <div>
    <label for="email">
      Email
    </label>
    <input id="email" type="text" formControlName="email">
  </div>

  <button class="button" type="submit">Purchase</button>

</form>