.center {
    justify-content: center;
    text-align: center;
    color: white;
    padding-bottom: 7%;
    padding-top: 5%;
    
  }

  h3 {
    font-family: Georgia, Times, serif;
    font-size: 30px;
  }
  
  hr.hr-text {
    position: relative;
      border: none;
      height: 1px;
      background: darkolivegreen;
  }
  
  hr.hr-text::before {
      content: attr(data-content);
      display: inline-block;
      background: black;
      font-size:22px;
      font-family: Georgia, Times, serif;
      color: white;
      border-radius: 30rem;
      padding: 0.2rem 2rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
  
  p {
    font-family: Georgia, Times, serif;
    font-size: 17px;
  }

  h4 {
    font-family: Georgia, Times, serif;
  }
  
  mat-list-item {
    font-family: Georgia, Times, serif;
  }
  

  a {
    color: darkolivegreen;
  }

  a :hover{
    color: white;
  }