<div class="center">
    <p>We are an online based, black owned, womens clothing boutique that specializes in making sure 
        every woman reaches their highest level of confidence. Whether it be a two-piece lounge set, 
        a sexy dress, or any statement piece, we will be a one stop shopfor all of your fashion needs.
        We are tall, petite, and curvy girl friendly.</p>
     <br>
    <p>Based out of Los Angeles, CA, we will have you turning heads and any block, street, 
        club, big city, or small town into your own SLAYground.</p>
     <br>
    <p style="font-size: 25px">WE RUN THIS!</p>

<br><br> <h4>Return & Exchange Policy</h4> 
Returns and exchanges will be accepted under the following conditions:
<br>
<mat-list>
    <mat-list-item> <b>(1)</b> We are notified within three days of your wish to return or 
        exchange item(s).
    </mat-list-item>
    <mat-list-item> <b>(2)</b> Merchandise <b><u> MUST BE UNWORN </u></b> with tag still attached.
    If tag has been broken the item will not be accepted. </mat-list-item>
    <mat-list-item> <b>(3)</b> If clothing is for some reason defective, though highly
    unlikely.</mat-list-item>
   </mat-list>
   Exchanges will be granted for <b><u>THE EXACT ITEM.</u></b> If we no longer have the item in stock or
   the requested size available, the customer can decide whether they want store credit, or a full
   refund can and will be issued once return tracking number is provided for the item.
   <br>
   Customers are responsible for all cost for returns. If exchanging an item, we will pay
   to send the newly item back to customer.
    <br><br>
    <br>
    <h3>All questions and and concerns, feel free to contact us!</h3>
    
    <a href="https://www.instagram.com/theblackhouselabel/"><img src="https://img.icons8.com/wired/64/000000/instagram-new.png"/></a>
    <a href="https://www.snapchat.com/add/blackhouselabel"><img src="https://img.icons8.com/wired/64/000000/snapchat.png"/></a>
    <a href=""><img src="https://img.icons8.com/wired/64/000000/tiktok.png"/></a>

    
   <br>
      <a href="mailto:inquiries@theblackhouselabel.com">inquiries@theblackhouselabel.com </a>
                </div>
