<mat-card id="card" style="text-align: center;">
	<mat-card-title>
		Login
	</mat-card-title>

	<mat-card-content>

		<mat-form-field>
			<input matInput #username type='text' placeholder="Username">
		</mat-form-field><br/>

		<mat-form-field>
            <input matInput #password type='password' placeholder="password">
            <p *ngIf='passwordFlag'>Incorrect Username and/or Password</p>
		</mat-form-field><br/>
		<button (click)='login(username.value, password.value)' mat-raised-button color="primary" style="margin-right:5px;">login</button>
		<!-- <button mat-raised-button color="primary" style="margin-right:5px;">register</button> -->

	</mat-card-content>