<div class="bg">
  <br>
  <div class="container">


<mat-card class="cart" style="background-color: transparent;">
  <mat-card-header>
    <mat-card-title ><h2>My Cart Summary</h2></mat-card-title>
  </mat-card-header>
  <mat-card-content>

  <div class="snipcart-summary">
  <h3>Number of items: <span class="snipcart-total-items"></span>
  <br>
  Subtotal: <span class="snipcart-total-price"></span>
 </h3>

</div>
</mat-card-content>
<mat-card-actions>
<button class="snipcart-checkout btn btn-outline-success">Cart Details + Checkout</button>
</mat-card-actions>
</mat-card>


</div>
</div>