<div class="bg">
<div class="container">

   
    <br><br>
    <div class="row justify-content-center">
        <div *ngFor="let category of categories">
        <div class="col-10 text-center " style="padding: 35px;">
            <br>
            <a [title]="category.categoryName " [routerLink]="['/category', category.categoryName]">
                <img src={{category.imagePath}}  alt="category" style="height: 250px; width: 500px" >
                <br></a>
        </div>
        <br><br>
        </div>
    </div>

    </div>
    </div>



    
    
