/* .category {
    max-width: 400px;
    float: left;
    border-radius: 2px;
    border-color: darkolivegreen;
  } */

  .container {
    padding: 0;
    padding-top: 5%;
    
  }

  div a{
    color: darkgreen;
    justify-content: center;
  }

  div a:hover{
    color: black;
  }

  .justify-content-center{
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    border-color: darkolivegreen;
  }
  /* mat-grid-tile-header {
    background: white;
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: center;
  } */