<div class="bg">
  <div class="container">    

   
<mat-card class="item-details">
    <mat-card-header>
      <mat-card-title >{{item.productName}}</mat-card-title>
      <mat-card-subtitle>{{item.productPrice | currency}}</mat-card-subtitle>
    </mat-card-header>
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content>
       
     <img src="{{mainImage}}">
     <div class="thumbnails">
       <div *ngFor="let image of item.imagePath">
       <img src="{{image}}" style="width: 50px; height: 75px;" (click)="changeMainImg(image)"><br>
       <!-- <img src="{{item.imagePath[1]}}" style="width: 50px; height: 75px;" (click)="changeMainImg(item.imagePath[1])"><br>
       <img src="{{item.imagePath[2]}}" style="width: 50px; height: 75px;" (click)="changeMainImg(item.imagePath[2])"><br> -->
     </div></div>
     <br><br>
      <p>
        {{item.description}}
      </p>
     </mat-card-content>
  
    <mat-card-actions>
        <!-- <button type="button" class="btn btn-light" (click)="addToCart(item.productSKU, category, size.value, color.value)">Add To Cart</button> -->
        <button class="snipcart-add-item"
          [attr.data-item-id]="item.productSKU"
          [attr.data-item-price]="item.productPrice"
          data-item-url="/"
          [attr.data-item-name]="item.productName"
          data-item-custom2-name="size"
          data-item-custom2-options="Small|Medium|Large|XLarge"
          data-item-custom1-name="color">
          Choose Size & Add Item!
        </button>
      </mat-card-actions>
  </mat-card>
  
</div>
 </div> 
 