<h3> Order for: <b>{{order.custEmail}}</b></h3>
<small>${{order.totalPrice}}</small><br>
    {{order.cart.items}}

    <form [formGroup]="orderForm" (ngSubmit)="onSubmit(orderForm.value)">

        <div>
          <label for="status">
           <b>Status: </b> 
          </label>
          <div class="dropdown">
            <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown">Update
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#" id="open">OPEN</a></li>
              <li><a href="#" id="inprogress">IN PROGRESS</a></li>
              <li><a href="#" id="completed">COMPLETED</a></li>
            </ul>
          </div>
      </div>
      
        <div>
          <label for="trackingNum">
            <b>Enter Tracking Number : </b>
          </label>
          <input id="trackingNum" type="text" formControlName="trackingNum">
        </div>
      
        <button class="button" type="submit">Update Order</button>

    </form>
      